
* {
    -webkit-touch-callout: none !important;
}

li.mobile-wrapper-info {
    margin-left: 10%;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
}

#footer-links,
#footer-small-links{
    display: none;
}
.idaMobileLoggedOut .legal #in-nav,
.idaMobileLoggedOut .about #in-nav,
.idaMobileLoggedOut .product #in-nav,
.idaMobileLoggedOut .privacy #in-nav,
.idaMobileLoggedOut .faqs #in-nav,
.password #in-nav {
    display: none;
}

.login-page,
.login-form{
    display: none !important;
}


/*************** Android Specific Css ********************/
.idaMobileAndroid .keypadInputContainer .modal-body {
    max-height: 90%;
}

.idaMobileAndroid .user-nav-avatar-wrapper {
    border: none;
}


.idaMobileAndroid .moduleRoot.expanded-module .report-pane-modal.module-pane{
    overflow-y:auto;
    height: 100% !important;
}


.report-modal-pane-dismiss-bottom {
    bottom: 20px;
    top: auto;
    left: 20px;
    position: relative;
    width: calc(100% - 40px);
}

/*Messages Screen*/
.idaMobileAndroid .m-ida-message  {
     height: 70% !important;
     max-height: 70% !important;
}

.idaMobileAndroid .m-ida-message .compose-message-container {
    height: 76% !important;
    max-height: none !important;
}

.idaWebviewIOS [data-btn-action=location] {
    visibility: visible;
}
