@charset "utf-8";



/******* General Css ***********/
li.mobile-wrapper-info {
    margin-left: 10%;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
}

#footer-links,
#footer-small-links{
    display: none;
}
.password #in-nav {
    display: none;
}

.login-page,
.login-form{
    display: none !important;
}


/*************** Android Specific Css ********************/
.idaMobileAndroid .keypadInputContainer .modal-body {
    max-height: 90%;
}

.idaMobileAndroid .user-nav-avatar-wrapper {
    border: none;
}


.idaMobileAndroid .moduleRoot.expanded-module .report-pane-modal.module-pane{
    overflow-y:auto;
    height: 100% !important;
}


.report-modal-pane-dismiss-bottom {
    bottom: 20px;
    top: auto;
    left: 20px;
    position: relative;
    width: calc(100% - 70px);
}

/*Messages Screen*/
.idaMobileAndroid .m-ida-message  {
     height: 70% !important;
     max-height: 70% !important;
}

.idaMobileAndroid .m-ida-message .compose-message-container {
    height: 76% !important;
    max-height: none !important;
}

/***********
 Pin version number to bottom, also done on web, but this is a backup
 ***********/
.mp-scroll {
    position: relative;
}
.ml-version-info {
    position: absolute;
    bottom: 0.75em;
}
.mp-level-overlay .mp-scroll .ml-version-info ,
.mp-level-overlay .mp-scroll{
    position: static;
}
@media screen and (max-height: 605px) {
    /* Undo pinning version number to bottom when too short*/
    .mp-scroll {
        position: static;
    }
    .ml-version-info {
        position: static;
        bottom: inherit;
    }
}